@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

@theme {
	/* Colors */
	--color-primary: #f6b400; /* Golden Yellow */
	--color-text-primary: #002b5b; /* Deep Navy Blue for text on yellow */
	--color-background-light: rgb(249, 250, 251);
	--color-background-dark: rgb(249, 250, 251); /* Using a slightly lighter dark for main content */
	--color-sidebar-dark: #0f172a;
	--color-card-light: #ffffff;
	--color-bg-white: #ffff;
	--color-card-dark: #1e293b;
	--color-heading-text-light: #1e293b;
	--color-heading-text-dark: #f8fafc;
	--color-body-text-light: #64748b;
	--color-body-text-dark: #94a3b8;
	--color-border-light: #e2e8f0;
	--color-border-dark: #334155;
	--color-text-base: #1e293b;
	--color-text-secondary: #1e2b3b;
	/* --color-secondary: #1e2b3b; */

	/* Typography */
	--font-display: 'Inter', sans-serif;

	/* Border Radius */
	--DEFAULT: 0.5rem;
	--lg: 0.75rem;
	--xl: 1rem;
	--full: 9999px;

	/* box shadow */
	--box-shadow-subtle: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);
}

@layer base {
	:root {
		color-scheme: light;
	}

	body {
		@apply font-display bg-background-light text-body-text-light antialiased;
	}

	html.dark body {
		@apply bg-background-dark text-body-text-dark;
	}
}
/* .material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	font-size: inherit;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
} */

/* Subtle global fade on route changes */
.page-transition {
	transition: background-color 0.4s ease, color 0.4s ease;
}

@layer utilities {
	@keyframes fadeInScale {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes fadeOutScale {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(0.95);
		}
	}

	.animate-fadeInScale {
		animation: fadeInScale 0.25s ease-out forwards;
	}

	.animate-fadeOutScale {
		animation: fadeOutScale 0.25s ease-in forwards;
	}
}
